.curved-loop-jacket {
  display: flex;
  flex-direction: column;
  /* Centra el contenido verticalmente dentro del 45vh */
  justify-content: center;
  align-items: center;
  position: relative;

  /* Ajustamos el alto para que tenga espacio suficiente */
  min-height: 50vh;
  width: 100%;

  /* Añadimos un padding superior para "empujarlo" más abajo */
  padding-top: 0.60rem;
  overflow: visible;
}

.curved-loop-svg {
  user-select: none;
  /* El aspect ratio debe ser suficiente para que la curva no se corte */
  aspect-ratio: 100 / 25;
  display: block;
  font-size: 5rem;
  /* Ajustado ligeramente para mejor encuadre */
  fill: #bb2020;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}